@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Regular.otf");
}

:root {
  font-family:
    "SF Pro Display",
    Inter,
    system-ui,
    sans-serif;

  --accent: #0a84ff;
  --bg: #111315;
  --card: #181a1d;
  --border: #292d33;
}

body{

margin:0;

font-family:"SF Pro Display",sans-serif;

background:#0d1117;

color:white;

overflow:hidden;

}

.launcher{

display:flex;

height:100vh;

width:100vw;

}

.sidebar{

width:250px;

background:#11151d;

display:flex;

flex-direction:column;

padding:24px;

box-sizing:border-box;

}

.logo{

display:flex;

justify-content:center;

margin-bottom:35px;

}

.logo img{

width:60px;

}

.sidebar nav{

display:flex;

flex-direction:column;

gap:10px;

}

.sidebar-btn{

display:flex;

align-items:center;

gap:16px;

padding:14px;

border-radius:18px;

border:none;

background:none;

color:white;

cursor:pointer;

transition:.25s;

}

.sidebar-btn img{

width:22px;

}

.sidebar-btn:hover{

background:#1c2431;

}

.sidebar-btn.active{

background:#0A84FF;

}

.sidebar-footer{

margin-top:auto;

display:flex;

flex-direction:column;

gap:10px;

}

.content{

flex:1;

display:flex;

flex-direction:column;

}

.topbar{

height:72px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 28px;

background:#11151d;

}

.page-container{

flex:1;

overflow:auto;

padding:30px;

}

#splash{

position:fixed;

inset:0;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

backdrop-filter:blur(60px);

background:rgba(0,0,0,.55);

z-index:9999;

}

.progress{

width:340px;

height:7px;

background:#222;

border-radius:999px;

overflow:hidden;

margin-top:25px;

}

.progress-fill{

width:0;

height:100%;

background:#0A84FF;

}
