.sidebar{

width:250px;

height:100vh;

padding:28px;

display:flex;

flex-direction:column;

background:rgba(18,18,20,.72);

backdrop-filter:blur(40px);

border-right:1px solid rgba(255,255,255,.06);

}

.sidebar-logo{

display:flex;

justify-content:center;

margin-bottom:36px;

}

.sidebar-logo img{

width:54px;

}

.sidebar nav{

display:flex;

flex-direction:column;

gap:10px;

}

.nav-btn{

display:flex;

align-items:center;

gap:16px;

border:none;

background:transparent;

padding:14px 18px;

border-radius:18px;

cursor:pointer;

transition:.25s;

color:white;

font-family:inherit;

}

.nav-btn img{

width:22px;

}

.nav-btn:hover{

background:rgba(255,255,255,.05);

}

.active{

background:linear-gradient(90deg,#0A84FF,#5AC8FA);

}

.sidebar-bottom{

margin-top:auto;

display:flex;

flex-direction:column;

gap:12px;

}
