#splash{

position:fixed;

inset:0;

display:flex;

justify-content:center;

align-items:center;

backdrop-filter:blur(80px);

background:rgba(8,10,14,.72);

z-index:9999;

animation:fadeIn .5s;

}

.splash-center{

width:460px;

text-align:center;

}

.splash-title{

font-size:64px;

font-weight:700;

letter-spacing:-2px;

margin-bottom:34px;

}

.loading-bar{

width:100%;

height:8px;

border-radius:999px;

overflow:hidden;

background:rgba(255,255,255,.06);

}

.loading-fill{

width:0%;

height:100%;

background:linear-gradient(90deg,#0A84FF,#5AC8FA);

transition:width .15s linear;

}

.loading-text{

margin-top:18px;

opacity:.65;

font-size:14px;

}

@keyframes fadeIn{

from{

opacity:0;

}

to{

opacity:1;

}

}
